.mood-page {
    text-align: center;
    padding: 20px;
  }
  .mood-title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(90deg, #d60f19, #e40c16, #e50914);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: bounce 2s infinite;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  .title-description{
    color: white;
    text-shadow:
    0 0 5px #00bfff,
    0 0 10px #00bfff,
    0 0 20px #00bfff;
    padding-bottom: 20px;
  }

  
  .mood-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    justify-content: center;
    margin-top: 30px;
    max-width: 800px; /* Set a max width for the grid */
    margin: 0 auto; /* Center the grid */
  }
  
  .mood-button {
    height: 50px;
    font-size: 16px;
    border: 2px solid #fff;
    border-radius: 25px;
    background-color: transparent;
    color: #fff; /* Default text color */
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .mood-button:hover {
    text-shadow:
    0 0 5px #00bfff,
    0 0 10px #00bfff,
    0 0 20px #00bfff;
    background-color: rgba(255, 255, 255, 0.2); /* Lighten on hover */
  }
  
  
  .mood-button.active {
    color: #000;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.8); /* Lighten on hover */
  }
  
  .movies-section {
    margin-top: 40px;
  }

  .movie-page {
    position: relative;
    min-height: 100vh; 
    height: 100%; 
    background-image: url("./../resources/images/dark-large.jpg"); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(19, 19, 19, 0.69); /* Dark overlay */
    align-items: center;
    text-align: center;
  }
  
  .movie-ind-title {
    color: white;
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Subtle text shadow for better readability */
  }
  
  .movie-ind-description {
    color: white;
    font-size: 18px;
    margin-top: 10px;
    max-width: 600px; /* Limit width for better readability */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  }

  .movie-page-text {
    text-align: center;
  }

  .movie-page-text p {
    text-align: center;
    margin: 0 auto; /*Center block elements horizontally*/
  }

  .movie-page-title-glow {
    text-shadow:
    0 0 5px #00bfff,
    0 0 10px #00bfff,
    0 0 20px #00bfff,
    0 0 40px #00bfff !important;
  }

  .movie-info-section {
    display: flex;
    flex-wrap:nowrap;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
    gap: 40px;
  }

  .movie-poster {
    max-width: 300px;
    height: auto;
    border-radius: 8px;
  }

  .movie-info-text {
    text-align: left;
    color: white;
    min-width: 250px;
    padding-top: 20px;
  }